@import url("https://fonts.googleapis.com/css?family=Roboto:300,500");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #0D0D0D;
  background: #F2F2F2;
  font-family: 'Roboto', Cambria, Cochin, Georgia, 'Times New Roman', Times,Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 300;
}

h1, h2 {
  text-align: center;
  margin-top: 5.7rem;
  font-family: Georgia, 'Times New Roman', sans-serif;
  font-style: italic;
  font-size: 80px;
  font-weight: 100;
}

.btn {
  border-radius: 0;
}

.navbar-custom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4.6rem;
  padding: 0 40px 20px;
  background: #0D0D0D;
  z-index: 10;
}

.navbar-custom .nav-brand {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navbar-custom .nav-brand img {
  width: 3.2em;
  margin: .7em;
}

.navbar-custom .nav-brand img:hover {
  width: 3.7em;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.navbar-custom a {
  text-decoration: none;
  color: #475459;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar-custom a:hover {
  color: #f9e494;
}

.navbar-custom ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #F2F2F2;
}

.navbar-custom ul li a {
  display: block;
  padding: 20px 20px;
  margin: 0 4px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.navbar-custom ul li a .fas {
  font-size: 1.3rem;
}

.navbar-custom .hamburger {
  cursor: pointer;
  display: block;
  padding: 32px 20px;
  position: relative;
  float: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar-custom .hamburger .bar-icon {
  background: #c5c5c5;
  display: block;
  height: 3px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 28px;
}

.navbar-custom .hamburger .bar-icon::before, .navbar-custom .hamburger .bar-icon::after {
  background: #c5c5c5;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar-custom .hamburger .bar-icon::before {
  top: 8px;
}

.navbar-custom .hamburger .bar-icon::after {
  top: -8px;
}

.navbar-custom #menu-btn {
  display: none;
}

.navbar-custom #menu-btn:checked ~ .hamburger .bar-icon {
  background: #212121;
}

.navbar-custom #menu-btn:checked ~ .hamburger .bar-icon::before {
  -webkit-transform: rotate(-45deg) translate(11px, -1px);
          transform: rotate(-45deg) translate(11px, -1px);
}

.navbar-custom #menu-btn:checked ~ .hamburger .bar-icon::after {
  -webkit-transform: rotate(45deg) translate(10px, 0px);
          transform: rotate(45deg) translate(10px, 0px);
}

.navbar-custom #menu-btn:checked ~ #menu-list {
  max-height: 240px;
}

.navbar-custom #menu-list {
  max-height: 0;
  -webkit-transition: max-height .4s ease;
  transition: max-height .4s ease;
  clear: both;
}

.max-height {
  position: relative;
  min-height: calc(100vh - 4.6em);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 228, 148, 0.5)), to(rgba(249, 228, 148, 0.5))), url("../images/photo-book.jpeg") center/cover fixed no-repeat;
  background: linear-gradient(rgba(249, 228, 148, 0.5), rgba(249, 228, 148, 0.5)), url("../images/photo-book.jpeg") center/cover fixed no-repeat;
}

.max-height .btn-default {
  border: 1px solid #F2F2F2;
  color: #F2F2F2;
  -webkit-transition: all .3s ease .1s;
  transition: all .3s ease .1s;
}

.max-height .btn-default:hover {
  background: #404040;
  border: 1px solid #0D0D0D;
}

#about p {
  line-height: 1.6;
  text-align: justify;
}

#about img {
  max-width: 100%;
}

#about figure .img-container {
  position: relative;
  max-width: 100%;
  border-radius: 1px;
  border: 1px solid #D9D9D9;
  padding: .5em;
  -webkit-box-shadow: 0 2px 3px #d6d6d6, 0 0 0 1px #d6d6d6;
          box-shadow: 0 2px 3px #d6d6d6, 0 0 0 1px #d6d6d6;
}

#about figure .img-container img {
  border-radius: 2px;
  position: relative;
  top: 0;
}

#about figure .img-container img:hover {
  will-change: transform;
  -webkit-transform: translate3d(0, -20px, 3em);
          transform: translate3d(0, -20px, 3em);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.52, 0.28, 0.47, 1.15);
  transition: -webkit-transform 0.3s cubic-bezier(0.52, 0.28, 0.47, 1.15);
  transition: transform 0.3s cubic-bezier(0.52, 0.28, 0.47, 1.15);
  transition: transform 0.3s cubic-bezier(0.52, 0.28, 0.47, 1.15), -webkit-transform 0.3s cubic-bezier(0.52, 0.28, 0.47, 1.15);
}

#about figcaption {
  font-size: 10px;
  text-align: center;
}

#about .post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px 20px;
  max-width: 1000px;
  margin: 3em auto;
}

#about .post * {
  grid-column: 2 / -2;
}

#about .post .aside {
  background: #e8e8e8;
  padding: 1rem;
  grid-row: span 5;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#about .post .aside-right {
  border-left: 1px solid indianred;
  grid-column: span 1 / -1;
}

#about .post .aside-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  text-align: right;
  border-right: 1px solid indianred;
}

#about .post .align-left {
  float: left;
  margin-right: 20px;
}

#about .post .slide-in {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#about .post .align-left.slide-in {
  -webkit-transform: translateY(-30%) scale(0.95) rotate(-2deg);
          transform: translateY(-30%) scale(0.95) rotate(-2deg);
}

#about .post .slide-in.active {
  opacity: 1;
  -webkit-transform: translateY(0%) scale(1) rotate(0deg);
          transform: translateY(0%) scale(1) rotate(0deg);
}

.footer {
  height: 6rem;
  background: #D9D9D9;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social-media .fab {
  margin: 10px 30px 0 30px;
  font-size: 2rem;
  color: #456c74;
}

.footer .social-media a:hover .fab {
  color: indianred;
}

.footer .legal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .legal em {
  font-size: 14px;
}

@media (min-width: 768px) {
  .hamburger {
    display: none !important;
  }
  #menu-list {
    clear: none !important;
    float: right;
    max-height: none !important;
  }
  .navbar-custom ul {
    background: #0D0D0D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .navbar-custom li {
    float: left;
  }
  .navbar-custom li a {
    color: #F2F2F2;
    border-bottom: none !important;
    border-radius: 1px;
  }
}

@media (max-width: 685px) {
  .content .post {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 15px;
  }
  .content .post .aside-left, .content .post .aside-right {
    border: none;
  }
}
/*# sourceMappingURL=main.css.map */