@import url("https://fonts.googleapis.com/css?family=Roboto:300,500");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #343a40;
  background: white;
  font-family: 'Roboto', Cambria, Cochin, Georgia, 'Times New Roman', Times,Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #475459;
}

h1, h2 {
  text-align: center;
  margin-top: 5.7rem;
  font-family: Georgia, 'Times New Roman', sans-serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 100;
}

h3, h4, h5, h6 {
  font-size: 20px;
}

.btn {
  border-radius: 0;
}

.hidden {
  opacity: 0;
  height: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-custom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.7rem;
  background: #F2F2F2;
  z-index: 10;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar-custom .nav-brand img {
  width: 3.7em;
  height: auto;
  margin: .55em .3em .5em;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar-custom .nav-brand img:hover {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navbar-custom a {
  text-decoration: none;
  color: #343a40;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar-custom a:hover {
  color: #758991;
}

.navbar-custom ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #F2F2F2;
}

.navbar-custom ul li a {
  display: block;
  padding: 20px 20px;
  margin: 0 4px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.navbar-custom ul li a .fas {
  font-size: 1.3rem;
}

.navbar-custom .hamburger {
  cursor: pointer;
  display: block;
  padding: 32px 20px;
  position: relative;
  float: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar-custom .hamburger .bar-icon {
  background: #343a40;
  display: block;
  height: 3px;
  position: relative;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 28px;
}

.navbar-custom .hamburger .bar-icon::before, .navbar-custom .hamburger .bar-icon::after {
  background: #343a40;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar-custom .hamburger .bar-icon::before {
  top: 8px;
}

.navbar-custom .hamburger .bar-icon::after {
  top: -8px;
}

.navbar-custom #menu-btn {
  display: none;
}

.navbar-custom #menu-btn:checked ~ .hamburger .bar-icon {
  background: #F2F2F2;
}

.navbar-custom #menu-btn:checked ~ .hamburger .bar-icon::before {
  -webkit-transform: rotate(-45deg) translate(11px, -1px);
          transform: rotate(-45deg) translate(11px, -1px);
}

.navbar-custom #menu-btn:checked ~ .hamburger .bar-icon::after {
  -webkit-transform: rotate(45deg) translate(10px, 0px);
          transform: rotate(45deg) translate(10px, 0px);
}

.navbar-custom #menu-btn:checked ~ #menu-list {
  max-height: 240px;
}

.navbar-custom #menu-list {
  max-height: 0;
  -webkit-transition: max-height .4s ease;
  transition: max-height .4s ease;
  clear: both;
}

.top-nav-collapse {
  background: #F2F2F2;
  -webkit-box-shadow: 0 1px 30px #d9d9d9;
          box-shadow: 0 1px 30px #d9d9d9;
}

.top-nav-collapse .nav-brand img {
  margin: .75em .3em .4em;
  width: 3.2em;
}

.max-height {
  position: relative;
  min-height: calc(100vh - 4.6em);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 228, 148, 0.5)), to(rgba(249, 228, 148, 0.5))), url("../images/photo-book.jpeg") center/cover fixed no-repeat;
  background: linear-gradient(rgba(249, 228, 148, 0.5), rgba(249, 228, 148, 0.5)), url("../images/photo-book.jpeg") center/cover fixed no-repeat;
}

#about p {
  line-height: 1.6;
  text-align: justify;
}

#about img {
  max-width: 100%;
}

#about figure .img-container {
  position: relative;
  max-width: 100%;
  border-radius: 1px;
  border: 1px solid #D9D9D9;
  padding: .5em;
  -webkit-box-shadow: 0 2px 3px #d6d6d6, 0 0 0 1px #d6d6d6;
          box-shadow: 0 2px 3px #d6d6d6, 0 0 0 1px #d6d6d6;
}

#about figure .img-container img {
  border-radius: 2px;
  position: relative;
  top: 0;
}

#about figure .img-container img:hover {
  will-change: transform;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

#about figcaption {
  font-size: 10px;
  text-align: center;
}

#partners {
  background: #e8e8e8;
}

#partners .rounded-circle {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .65s ease-in-out;
  transition: all .65s ease-in-out;
}

#partners .rounded-circle:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#showcase .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #343a40;
  overflow: hidden;
}

#showcase .panel img {
  width: 100%;
  height: 100%;
}

#showcase #overlay {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(52, 58, 64, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
}

#showcase #overlay a {
  border: 1px solid #F2F2F2;
}

#showcase .panel:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#showcase .panel:hover #overlay {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.footer {
  background: #e8e8e8;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social-media .fab, .footer .social-media .far {
  margin: 10px 30px 0 30px;
  font-size: 2rem;
  color: #343a40;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.footer .social-media a:hover .fab, .footer .social-media a:hover .far {
  -webkit-transform: scale(1.2) rotate(-20deg);
          transform: scale(1.2) rotate(-20deg);
}

.footer .legal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .legal em {
  font-size: 14px;
}

@media (min-width: 768px) {
  .hamburger {
    display: none !important;
  }
  #menu-list {
    clear: none !important;
    float: right;
    max-height: none !important;
  }
  .navbar-custom {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-custom ul {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .navbar-custom li {
    float: left;
  }
  .navbar-custom li a {
    color: #343a40;
    border-bottom: none !important;
    border-radius: 1px;
  }
  .top-nav-collapse {
    background: #F2F2F2;
    -webkit-box-shadow: 0 1px 30px #d9d9d9;
            box-shadow: 0 1px 30px #d9d9d9;
    opacity: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .top-nav-collapse a {
    color: #343a40;
  }
  h1, h2 {
    font-size: 80px;
  }
}
/*# sourceMappingURL=main.css.map */